body{
background-image: url("/imagenes/fondo.png") ;
background-size: cover; /* para cubrir todo el fondo */
background-position: center;
}

html, body {
    height: 100%;
    overflow: hidden;
  }
  
  @media screen and (max-width:480px){
    body {
      font-size:80%; 
    } 
    html, body{
      display: flex;
  }
}