
h1{
    text-align: center;
}
table {
    margin: 0 auto;
    width: 80%;
        border-collapse: collapse;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    th, td {
        padding: 8px;
        border-bottom: 1px solid #0a0a0a;
        border-right: 1px solid #0d0c0c;
    }

    th {
        background-color:orange;
    }
    tr:last-child td {
        border-bottom: none;
    }

    tr:hover {
        background-color:green;
    }
    
        #boton-imprimir {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
    
